@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .dark-gray-grad {
    @apply bg-gradient-to-br from-black to-gray-500  text-transparent bg-clip-text;
  }
  .gray-grad {
    @apply bg-gradient-to-br from-white to-[#71717a] text-transparent bg-clip-text;
  }
  .brand-grad {
    @apply bg-gradient-to-br from-[#4AD4E4] to-[#4972e4] text-transparent bg-clip-text;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}
